@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Zen+Maru+Gothic:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

html {
    height: 1300;
}

body {
    height: 100%;
    background-color: rgb(27, 27, 27);
}

header {
    margin-top: 5vh;
}

.top-navigation {
    background: #ffffff;
    padding: 0 1rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 2);
    position: relative;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Zen Maru Gothic', sans-serif;
    padding: 1.5rem 1rem;
    display: inline-block;
    text-decoration: none;
    border: none;
    color: #a1a1a1;
    background-color: #ffffff;
    width: 180px;
    text-align: center;
}

.active {
    color: #252525;
    font-weight: bold;
}

.tabbutton {
    background-color: #ffffff;
    color: rgb(31, 26, 26);
    font-weight: lighter;
    border: none;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 120px;
    font-size: 150%;
    width: 25%;
}

/*Changes the button to said color when onmousehover*/

.tabbutton:hover {
    background: #c2c2c2;
}

.tabcontent {
    color: black;
    display: none;
    padding: 15px 20px;
    height: 100%;
}

/*GLOBAL FORMATTING ALL THE TABS (But Home)*/

.top-fav-song h2 {
    display: inline-block;
    position: relative; left: 100px;
    
    top: 80px;
}

.top-fav-song p {
    font-size: 23px;
    display: inline-block;
    position: relative; right: 870px;
    top: 80px;
}

.text h1 {
    background-color: white;
    top: 10px;
    margin: 0 750px 0 750px;
    border-radius: 100px;
    /* Moves the border line */
    text-align: center;
    border-bottom: 3px solid black;
}

.text h2 {
    text-decoration: underline black;
    font-size: 40px;
    text-align: center;
    position: relative;
    /* display: table-cell; USE THIS TO MAKE IT APPEAR RIGHT NEXT TO THE IMAGE */
}

.text h3 {
    font-size: 30px;
    text-decoration: underline black;
    text-align: center;
    position: relative;
    
}

.text p {
    border-radius: 10px;
    margin: 0 300px 0 1000px;
    /*Subtracted the margin to decrease the width*/
    background-color: white;
    text-align: center;
    line-height: 1.5;
    font-weight: bolder;
    position: relative; 
}

.move-second-last {
    margin-right: 700px;
    position: relative;
    left: 700px;
}

/*Centering the last paragraph of each tab*/

.move-last h2 {
    margin-right: 700px;
    position: relative;
    left: 700px;
}

.move-last h3 {
    margin-right: 700px;
    /*Subtracts the extra space from when moving*/
    position: relative;
    left: 700px;
}

/*Moving the Spotify players*/

.spotify iframe {
    float: right;
}

.spotify {
    margin: 0 350px 125px 100px;
    position: relative;
    top: 20px;
}

/*MATCHING HOME PAGE HEADER TO MATCH ALL THE TABS*/

.content-header {
    position: relative;
    top: 10px;
    padding: 0 500px 0px 500px;
    /* Moves the border line */
    text-align: center;
    border-bottom: 3px solid black;
}

/*HOME PAGE CONTENT FORMAT*/

#Home p {
    border-radius: 25px;
    text-align: center;
    background-color: white;
    margin-left: 585px;
    position: relative;
    line-height: 1.5;
    font-size: 20px;
    width: 700px;
}

#Home iframe {

    /* CENTERS THE IFRAME */
    margin: 0 auto;
    display: block;
}

.youtube {
    display: block;
    float: left;
    position: relative;
    top: 80px;
}

#Home {
    background: #f1ece6 url('') center no-repeat;
    background-size: 1900px 1200px;
}

/*Specific Edits for Country*/

#Country {
    background: #a8e3e8 url('https://wallpaperaccess.com/full/119385.jpg') center no-repeat;
    background-size: 1900px 1200px;
}

#Country h2 {
    color: black;
    text-decoration-color: rgb(255, 76, 5);
}

#Country h3 {
    color: black;
    text-decoration-color: rgb(255, 76, 5);
}

.tfs-country p {
    right: 780px;
}

/*Specific Edits for Pop*/

#Pop {
    background: #56a7b3 url('https://www.zastavki.com/pictures/1920x1080/2017New_Year_wallpapers_Bright_flashes_of_New_Year_s_fireworks_119919_23.jpg') center no-repeat;
    background-size: 1900px 1200px;
}

#Pop h2 {
    color: #56a7b3;
    text-decoration-color: #56a7b3;
}

#Pop h3 {
    color: #56a7b3;
    text-decoration-color: #56a7b3;
}

/*Specific Edits for EDM*/

#EDM {
    background: #456873 url('') center no-repeat;
    background-size: 1900px 1200px
}

/*Specific Edits for Metal*/

#Metal {
    background: #2c3646 url('https://www.teahub.io/photos/full/291-2916112_light-dark-futuristic-city.jpg') center no-repeat;
    background-size: 1900px 1200px;
}

#Metal h2 {
    color: white;
    text-decoration-color: white;
}

#Metal h3 {
    color: white;
    text-decoration-color: white;
}

/*Specific Edits for Extra*/

#Extra {
    background: #2e3238 url('') center no-repeat;
}

